# gitignore - Specifies intentionally untracked files to ignore
# http://git-scm.com/docs/gitignore

# OS artifacts
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Globals
._*
